<% layout('layout/boilerplate')%>
 <div class="row">
     <h1 class="text-center">Edit Event</h1>
     <div class="col-6 offset-3">
        <form action="/events/<%=campground._id%>?_method=PUT" method="POST" novalidate class="val-form" enctype="multipart/form-data">
             <div class="mb-3">
                 <label class="form-label" for="title">Title</label>
                 <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>" required>
             </div>
             <div class="mb-3">
                 <label class="form-label" for="location">Location</label>
                 <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location %>" required>
             </div>
             <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
             </div>
             <div class="mb-3">
                <label class="form-label" for="date">Event Timings</label>
                <div class="input-group">
                <input type="date" class="form-control" id="date" placeholder="" name="campground[date]" value="<%=campground.date %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="time">Event Timings</label>
                <div class="input-group">
               <input type="time" class="form-control" id="time" placeholder="" name="campground[time]" value="<%=campground.time %>" required>
                </div>
            </div>
             <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description%></textarea>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Edit Event</button>
            </div>
        </form>
        <a href="/events">All Campgrounds</a>
    </div>
</div> 