<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body>
    <h1>Edit Event Campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location%>">
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" name="campground[date]" value="<%= campground.date%>"> 
        </div>
        <div>
            <label for="time">Time</label>
            <input type="time" id="time" name="campground[time]" value="<%= campground.time%>">
        </div>
        <button>Update Event</button>
    </form>
    <a href="/campgrounds/<%= campground._id%>">Back To Event Campground</a>

</body>

</html>